.profile-image-container {
    border: 1px dashed #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    width: 180px;
    height: 180px;
  }
  
  .default-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #aaa;
  }