<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="account-page">

  <div class="main-wrapper">
    <div class="theme-toggle">
      <button class="btn btn-icon btn-outline-primary rounded-circle d-flex align-items-center justify-content-center" style="position: absolute; right: 20px; top: 20px;" (click)="toggleTheme()" [ngStyle]="{'background-color': isDarkMode ? 'white' : 'dark', 'color': isDarkMode ? 'white' : 'dark'}">
        <i class="pe-7s-sun" style="font-size: 1.5rem;font-weight: 900;" data-bs-toggle="tooltip" title="pe-7s-sun" [ngClass]="isDarkMode ? 'pe-7s-sun' : 'pe-7s-moon'" [ngStyle]="{'color': isDarkMode ? 'dark' : '#34383a'}"></i>

      </button>

    </div>
    <div class="account-content">


      <div class="container">


        <div class="account-box">

          <div class="account-wrapper">
            <div class="account-logo">
              <img [src]="isDarkMode ? '../../../../assets/images/nano-store-dark-s1.png' : '../../../../assets/images/nano-store-light-s.png'" alt="NANO STORE">
            </div>


            <form [formGroup]="loginForm">
              <div [ngClass]="{'d-none': isMobileLogin}" class="input-block mb-4">
                <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">Email Address</label>
                <input class="form-control" type="text" value="admin@dreamguystech.com" formControlName="email">
              </div>
              <div [ngClass]="{'d-none': isMobileLogin}" class="input-block mb-4">
                <div class="row align-items-center">
                  <div class="col">
                    <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">Password</label>
                  </div>
                  <div class="col-auto">
                    <a class="text-muted" [routerLink]="routes.forgot_password" [ngStyle]="{'color': isDarkMode ? '#d1b07d' : '#34383a'}">
                      Forgot password?
                    </a>
                  </div>
                </div>

                <div class="position-relative">
                  <input class="form-control" [type]="password[1] ? 'text' : 'password' " value="123456" id="password" formControlName="password">
                  <span class="fa-solid" [ngClass]=" password[1] ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePassword(1)" id="toggle-password"></span>
                </div>
              </div>

              <div [ngClass]="{'d-none': !isMobileLogin}" class="input-block mb-4">
                <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">Mobile Number</label>
                <input class="form-control" type="text" placeholder="Enter your mobile number" formControlName="mobileNumber">
              </div>

              <div class="input-block mb-4 text-center" style="margin-top: 40px;">
                <button class="btn btn-primary account-btn" type="button" (click)="login()" [ngStyle]="{'background-color': isDarkMode ? '#d1b07d' : '#34383a'}">Login</button>
              </div>
              <div class="signup-with-section">
                <div class="line" [ngStyle]="{'background-color': isDarkMode ? 'white' : '#34383a'}"></div>
                <span class="signup-text" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">SIGN IN WITH</span>

                <div class="line" [ngStyle]="{'background-color': isDarkMode ? 'white' : '#34383a'}"></div>
              </div>
              <div class="input-block mb-4 text-center">
                <button class="btn btn-primary account-btn" [ngStyle]="{'background-color': isDarkMode ? '#d1b07d' : '#34383a'}" type="button" (click)="changeLoginType()">Login with
                  {{isMobileLogin ? 'Email' : 'Mobile'}}</button>
              </div>

            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sign-in-button"></div> -->
<div class="account-page">
  <div class="main-wrapper">
    <div class="account-content">
      <div class="theme-toggle">
        <button class="btn btn-icon btn-outline-primary rounded-circle d-flex align-items-center justify-content-center" style="position: absolute; right: 20px; top: 20px;" (click)="toggleTheme()" [ngStyle]="{'background-color': isDarkMode ? 'white' : 'dark', 'color': isDarkMode ? 'white' : 'dark'}">
          <i class="pe-7s-sun" style="font-size: 1.5rem;font-weight: 900;" data-bs-toggle="tooltip" title="pe-7s-sun" [ngClass]="isDarkMode ? 'pe-7s-sun' : 'pe-7s-moon'" [ngStyle]="{'color': isDarkMode ? 'dark' : '#34383a'}"></i>

        </button>

      </div>
      <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
          <a [routerLink] = "routes.adminDashboard"><img [src]="isDarkMode ? '../../../../assets/images/nano-store-dark-s1.png' : '../../../../assets/images/nano-store-light-s.png'" alt="Dreams Technologies"></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box">
          <div class="account-wrapper">
            <!-- <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to our dashboard</p> -->

            <!-- Account Form -->
            <form [formGroup]="loginForm">
              <div class="input-block mb-4" [ngClass]="{'d-none': isMobileLogin}">
                <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">Email Address</label>
                <input class="form-control" type="text"  placeholder="Enter your email address" formControlName="email">
              </div>
              <div class="input-block mb-4" [ngClass]="{'d-none': isMobileLogin}">
                <div class="row align-items-center">
                  <div class="col">
                    <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">Password</label>
                  </div>
                  <div class="col-auto">
                    <a class="text-muted" [routerLink] = "routes.forgot_password">
                      Forgot password?
                    </a>
                  </div>
                </div>
                <div class="position-relative">
                  <input class="form-control" [type]="password[1] ? 'text' : 'password' " placeholder="Enter your password" id="password" formControlName="password">
                  <span class="fa-solid" [ngClass]=" password[1] ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword(1)" id="toggle-password"></span>
                </div>
              </div>
              <div [ngClass]="{'d-none': !isMobileLogin}" class="input-block mb-4">
                <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">Mobile Number</label>
                <input class="form-control" type="text" placeholder="Enter your mobile number" formControlName="mobileNumber">
              </div>
              <!-- <div class="input-block mb-4 text-center">
                <button class="btn btn-primary account-btn" type="button" >Login</button>
              </div> -->
              <div class="input-block mb-4 text-center" style="margin-top: 40px;">
                <button class="btn btn-primary account-btn" type="button" (click)="login()" [ngStyle]="{'background-color': isDarkMode ? '#d1b07d' : '#34383a'}">Login</button>
              </div>
              <div class="signup-with-section">
                <div class="line" [ngStyle]="{'background-color': isDarkMode ? 'white' : '#34383a'}"></div>
                <span class="signup-text" [ngStyle]="{'color': isDarkMode ? 'white' : '#34383a'}">SIGN IN WITH</span>

                <div class="line" [ngStyle]="{'background-color': isDarkMode ? 'white' : '#34383a'}"></div>
              </div>
              <div class="input-block mb-4 text-center">
                <button class="btn btn-primary account-btn" [ngStyle]="{'background-color': isDarkMode ? '#d1b07d' : '#34383a'}" type="button" (click)="changeLoginType()">Login with
                  {{isMobileLogin ? 'Email' : 'Mobile'}}</button>
              </div>

              <!-- <div class="account-footer">
                <p>Don't have an account yet? <a [routerLink] = "routes.register">Register</a></p>
              </div> -->
            </form>
            <!-- /Account Form -->

          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
<!-- <div class="container">
  <button class="top-right-button">Click Me</button>
  <div class="content">
    <h2>Main Content</h2>
    <p>This is some text inside the container.</p>
  </div>
</div> -->

