<div class="content container-fluid">

    <!-- <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Transaction History</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="routes.adminDashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Transaction History</li>
                </ul>
            </div>

        </div>
    </div> -->

    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">{{"FORM.transaction_history" | translate}}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">{{"FORM.dashboard" | translate}}</a></li>
            <li class="breadcrumb-item active">{{"FORM.transaction_history" | translate}}</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto">
          <a class="btn add-btn" (click)="openAddBudgetExpense()"><i class="la la-plus-circle"></i>
            {{"FORM.add_expenses" | translate}}</a>
        </div>
      </div>
    </div>

    <div class="row filter-row">

      <div class="col-sm-2 col-md-2">
        <div class="input-block mb-2 form-focus select-focus select">
          <mat-select class="select custom-mat-select floating-mat-select"
          [placeholder]="'FORM.select_status' | translate" [(ngModel)]="searchStatus">
          <mat-option value="requested">{{"FORM.requested" | translate}}</mat-option>
          <mat-option value="verified">{{"FORM.verified" | translate}}</mat-option>
          <mat-option value="first_approved">{{"FORM.first_approved" | translate}}</mat-option>
          <mat-option value="second_approved">{{"FORM.second_approved" | translate}}</mat-option>
          <mat-option value="approved">{{"FORM.approved" | translate}}</mat-option>
          <mat-option value="rejected">{{"FORM.rejected" | translate}}</mat-option>


        </mat-select>
        <label class="focus-label">{{"FORM.status" | translate}}</label>
         
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="input-block mb-2 form-focus select-focus select">
  
          <mat-select class="select custom-mat-select floating-mat-select"
            [placeholder]="'FORM.select_company' | translate" [(ngModel)]="searchCompany">
            <mat-option value="nano-vip">NANO VIP</mat-option>
            <mat-option value="nano-store">NANO STORE</mat-option>
            <mat-option value="nano-entertainment">NANO ENTERTAINMENT</mat-option>
  
          </mat-select>
          <label class="focus-label">{{"FORM.company" | translate}}</label>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 date-input mb-2">
        <div class="cal-icon"> 
          <input class="form-control" [(ngModel)]="requestDate" placeholder="{{'FORM.from_date' | translate}}"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }" bsDatepicker
            container=".date-input1" />
        </div>
      </div>
      <div class="col-sm-2 col-md-2 date-input mb-2">
        <div class="cal-icon"> 
          <input class="form-control" [(ngModel)]="dueDate" placeholder="{{'FORM.to_date' | translate}}"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }" bsDatepicker
            container=".date-input1" />
        </div>
      </div>
  
     
      <div class="col-sm-2 col-md-2" style="margin-bottom: 12px;">
        <a class="btn btn-primary w-100" (click)="searchTransaction()"> {{"FORM.search" | translate}} </a>
  
      </div>
      <div class="col-sm-2 col-md-2">
        <a class="btn btn-secondary w-100" (click)="cancelSearch()"> {{"FORM.cancel" | translate}} </a>
  
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
         
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="table-primary">
                <tr>
                  <th scope="col">{{"FORM.number" | translate}}</th>
                  <th scope="col">{{"FORM.expense_type" | translate}}</th>
                  <!-- <th scope="col">{{"FORM.expense_source" | translate}}</th> -->
                  <th scope="col">{{"FORM.creditor_name" | translate}}</th>
                  <th scope="col">{{"FORM.amount" | translate}}</th>
                  <th scope="col">{{"FORM.request_date" | translate}}</th>
                  <th scope="col">{{"FORM.due_date" | translate}}</th>
                  <th scope="col">{{"FORM.status" | translate}}</th>
                
    
                  <th scope="col" class="text-center" >{{"FORM.action" | translate}}</th>
                </tr>
              </thead>
              <tbody *ngFor="let user of dataArray;  let i = index">
                <tr>
                  <th scope="row">{{serialNumberArray[dataArray.indexOf(user)]}}</th>
                  <td>{{user.expense_type}}</td>
                  <!-- <td>{{user.expense_source}}</td> -->
                  <td>{{user.creditor_name}}</td>
                  <td>{{user.expense_amount | currency: '฿'}}</td>
                  <td>{{user.expense_date | date:'dd MMM yyyy'}}</td>
                  <!-- <td [ngStyle]="{'color': isPastDue(user.due_date) ? 'red' : 'black'}">
                    {{ user.due_date | date:'dd MMM yyyy' }}
                  </td> -->
                  <td [ngClass]="{
                    'text-danger': isPastDue(user.due_date) === 'past-due', 
                    'text-warning': isPastDue(user.due_date) === 'due-today'
                  }">
                    {{ user.due_date | date:'dd MMM yyyy' }}
                  </td>
                  <!-- <td>{{user.due_date | date:'dd MMM yyyy'}}</td> -->
                  <td>
                    <span [ngClass]="{
                        'role-requested': user.status === 'requested',
                        'role-verified': user.status === 'verified',
                        'role-first_approved': user.status === 'first_approved',
                        'role-second_approved': user.status === 'second_approved',
                        'role-third_approved': user.status === 'approved',
                        'role-rejected': user.status === 'rejected',
                        
                      }" class="badge">
                              {{ statusValue[user.status] | uppercase }}
                            </span>
                  </td>
                  <!-- <td>{{user.createdDate | date:'dd MMM yyyy'}}</td>
                  <td>{{user.updatedDate | date:'dd MMM yyyy'}}</td> -->
                  <td class="text-center" *ngIf="userRole === 'verifier' && userList.uid === configurationData[0].verifier && user.status === 'requested'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="approveExpense(user)"><i
                          class="feather icon-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-danger rounded-pill" (click)="openViewUserModal(user)"><i
                          class="ti ti-trash"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'verifier' && userList.uid === configurationData[0].verifier && user.status !== 'requested' ">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="downloadExpense(user)"><i
                          class="feather icon-download"></i></a>
                          <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="viewExpense(user)"><i
                            class="feather icon-eye"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'approver' && userList.uid === configurationData[0].approver_one && user.status === 'verified'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="approveExpense(user)"><i
                          class="feather icon-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-danger rounded-pill" (click)="openViewUserModal(user)"><i
                          class="ti ti-trash"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'approver' && userList.uid === configurationData[0].approver_one && user.status !== 'verified'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="downloadExpense(user)"><i
                          class="feather icon-download"></i></a>
                          <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="viewExpense(user)"><i
                            class="feather icon-eye"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'approver' && userList.uid === configurationData[0].approver_two && user.status === 'first_approved'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="approveExpense(user)"><i
                          class="feather icon-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-danger rounded-pill" (click)="openViewUserModal(user)"><i
                          class="ti ti-trash"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'approver' && userList.uid === configurationData[0].approver_two && user.status !== 'first_approved'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="downloadExpense(user)"><i
                          class="feather icon-download"></i></a>
                          <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="viewExpense(user)"><i
                            class="feather icon-eye"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'approver' && userList.uid === configurationData[0].approver_three && user.status === 'second_approved'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="approveExpense(user)"><i
                          class="feather icon-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-danger rounded-pill" (click)="openViewUserModal(user)"><i
                          class="ti ti-trash"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="userRole === 'approver' && userList.uid === configurationData[0].approver_three && user.status !== 'second_approved'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="downloadExpense(user)"><i
                          class="feather icon-download"></i></a>
                          <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="viewExpense(user)"><i
                            class="feather icon-eye"></i></a>
                    </div>
                  </td>
                  <!-- <td class="text-center" *ngIf="!isOwnData(user) && user.status !== 'approved'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="approveExpense(user)"><i
                          class="feather icon-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-danger rounded-pill" (click)="openViewUserModal(user)"><i
                          class="ti ti-trash"></i></a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="!isOwnData(user) && user.status === 'approved'">
                    <div class="hstack gap-2 fs-15">
                     
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="downloadExpense(user)"><i
                          class="feather icon-download"></i></a>
                          <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="viewExpense(user)"><i
                            class="feather icon-eye"></i></a>
                    </div>
                  </td> -->

                  
                  <td class="text-center" *ngIf="isOwnData(user)">
                    <div class="">
                    
                      <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="downloadExpense(user)" style="margin-right: 3px;background-color: #d1b07d;color: white;"><i
                          class="feather icon-download"></i></a>
                          <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-soft-info rounded-pill" (click)="viewExpense(user)" ><i
                            class="feather icon-eye"></i></a>
                    </div>
                  </td>
                  
                </tr>
    
              </tbody>
              <tbody *ngIf="dataArray.length === 0">
                <tr>
                  <td colspan="10">
                    <h5 style="text-align: center;">{{"FORM.no_data_found" | translate}}</h5>
                  </td>
                </tr>
              </tbody>
            </table>
           
          </div>
          <div class="table_footer">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info">
                Showing {{ serialNumberArray[0] }} to
                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                {{ totalData }} entries
              </div>
            </div>
    
            <div class="col-sm-12 col-md-7">
              <div class="pagination_section">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{
                  disabled: currentPage === 1
                }">
                    <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1"><i
                        class="fa fa-angle-double-left"></i></a>
                  </li>
    
                  @for (item of pageNumberArray; track item; let i = $index) {
                  <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                  (pageNumberArray[currentPage - 2] > item &&
                    item !== 1 &&
                    pageNumberArray.length > 6) ||
                  (pageNumberArray[currentPage] < item &&
                    item !== 1 &&
                    pageNumberArray.length > 6 &&
                    pageNumberArray.length !== item)
                    ? 'hide-page-no'
                    : 'show-page-no'
                  ">
                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                      {{ item }}
                    </a>
                  </li>
                  @if (
                  i === 0 && pageNumberArray.length > 6 && currentPage > 2
                  ) {
                  <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                    (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                  </li>
                  }
                  @if (
                  i === pageNumberArray.length - 2 &&
                  pageNumberArray.length > 6
                  ) {
                  <li [hidden]="
                  currentPage >=
                    pageNumberArray[pageNumberArray.length - 2] ||
                  totalData < serialNumberArray[serialNumberArray.length - 1]
                  " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)"
                    tabindex="0">
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                  </li>
                  }
                  }
    
                  <li class="page-item" [ngClass]="{
                  disabled:
                  currentPage === pageNumberArray[pageNumberArray.length - 1] ||
                  dataArray.length === 0
                }">
                    <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i
                        class=" fa fa-angle-double-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="table_footer">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info">
                Showing {{ serialNumberArray[0] }} to
                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                {{ totalData }} entries
              </div>
            </div>
    
            <div class="col-sm-12 col-md-7">
              <div class="pagination_section">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{
                                disabled: currentPage === 1
                              }">
                    <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1"><i
                        class="fa fa-angle-double-left"></i></a>
                  </li>
    
                  @for (item of pageNumberArray; track item; let i = $index) {
                  <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                  (pageNumberArray[currentPage - 2] > item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6) ||
                                  (pageNumberArray[currentPage] < item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6 &&
                                    pageNumberArray.length !== item)
                                    ? 'hide-page-no'
                                    : 'show-page-no'
                                ">
                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                      {{ item }}
                    </a>
                  </li>
                  @if (
                  i === 0 && pageNumberArray.length > 6 && currentPage > 2
                  ) {
                  <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                    (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                  </li>
                  }
                  @if (
                  i === pageNumberArray.length - 2 &&
                  pageNumberArray.length > 6
                  ) {
                  <li [hidden]="
                                  currentPage >=
                                    pageNumberArray[pageNumberArray.length - 2] ||
                                  totalData < serialNumberArray[serialNumberArray.length - 1]
                                " class="page-item" (click)="moveToPage(currentPage + 2)"
                    (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                  </li>
                  }
                  }
    
                  <li class="page-item" [ngClass]="{
                                disabled:
                                  currentPage === pageNumberArray[pageNumberArray.length - 1] ||
                                  dataArray.length === 0
                              }">
                    <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i
                        class=" fa fa-angle-double-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>  -->
        </div>
        <!-- <app-custom-pagination></app-custom-pagination> -->
      </div>
    
</div>





