.role-requested {
    background-color: #007BFF; /* Green */
    color: white;
  }
  .role-verified {
    background-color: #949B96; /* Blue */
    color: white;
  }
  .role-first_approved {
    background-color: #B2967D; /* Orange */
    color: black;
  }
  .role-second_approved {
    background-color: #4D6A6D; /* Gray */
    color: white;
  }
  .role-third_approved {
    background-color: #288223; /* Red */
    color: white;
  }
  .role-rejected {
    background-color: red; /* Red */
    color: white;
  }
  