<!-- Sidebar -->
<div class="sidebar" (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')"
  (focus)="miniSideBarFocus('over')" (blur)="miniSideBarBlur('out')" id="sidebar">
  <ng-scrollbar>
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul class="sidebar-vertical">
          <!-- Main Titles Loop -->
          @for (mainTittle of side_bar_data; track mainTittle) {
            <!-- Use the method to check if the menu title should be displayed -->
            <ng-container *ngIf="shouldDisplayMenu(mainTittle)">
              <!-- <li class="menu-title">
                <span>{{ mainTittle.tittle }}</span>
                @if (mainTittle.tittle === 'CRM') {
                  <small class="newly-added-features">New</small>
                }
              </li> -->

              <!-- Menu Loop -->
              @for (menu of mainTittle?.menu; track menu) {
                <!-- If read permission is not false -->
                <ng-container *ngIf="menu.permissions?.read !== false">
                  <!-- If no subroute -->
                  @if (menu?.hasSubRoute === false) {
                    <li class="custom-style" routerLinkActive="active" [class.active]="last === menu.last1 || last === menu.last2">
                      <a [routerLink]="menu?.route"><i [class]="'la la-' + menu.icon"></i>
                        <span>{{ menu?.menuValue }}</span>
                        @if (menu.changeLogVersion === true) {
                          <span class="badge badge-primary ms-auto">v4.0</span>
                        }
                      </a>
                    </li>
                  }
                  <!-- If has subroute -->
                  @if (menu.hasSubRoute === true) {
                    <li class="submenu" [class.active]="base === menu.base || page === menu.base">
                      <a href="javascript:void(0)" (click)="expandSubMenus(menu)" (keydown.enter)="expandSubMenus(menu)"
                        tabindex="0" [ngClass]="{
                          'subdrop': menu.showSubRoute === true,
                          'noti-dot': menu.dot === true
                        }">
                        <i [class]="'la la-' + menu.icon"></i>
                        <span>{{ menu.menuValue }}</span>
                        <span class="menu-arrow"></span>
                      </a>
                      <ul [ngClass]="menu.showSubRoute === true ? 'show-sub-menu' : 'hide-sub-menu'">
                        <!-- Submenu Loop -->
                        @for (subMenus of menu.subMenus; track subMenus) {
                          <!-- Check for Read Permission on Submenu -->
                          <ng-container *ngIf="subMenus.permissions?.read !== false">
                            <li>
                              <a [routerLink]="subMenus.route"
                                [class.active]="page === subMenus.base || page === subMenus.base2 || page === subMenus.base3 || page === subMenus.base4 || page === subMenus.base5 || page === subMenus.base6 || page === subMenus.base7 || page === subMenus.base8">
                                @if (subMenus.currentActive === true) {
                                  <span class="badge rounded-pill bg-primary float-end">1</span>
                                }
                                {{ subMenus.menuValue }}
                              </a>
                            </li>
                          </ng-container>
                        }
                      </ul>
                    </li>
                  }
                </ng-container>
              }
            </ng-container>
          }
        </ul>
      </div>
    </div>
  </ng-scrollbar>
</div>
