<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{this.isEdit ? ('FORM.edit_configuration' | translate) : ('FORM.add_configuration' | translate)}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addConfigurationForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.company" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select"
                placeholder="{{'FORM.select_company' | translate}}" formControlName="company"
                (selectionChange)="onCompanyChange($event)">
                <mat-option *ngFor="let company of companyList" [value]="company.id">
                  {{ company.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('company')?.invalid && this.addConfigurationForm.get('company')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('company')?.invalid && this.addConfigurationForm.get('company')?.touched) {
                <small class="text-danger"> *Company is required</small>
                }
              </div>
              }
            </div>
  
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.location" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChangeLocation($event)"
                placeholder="{{'FORM.select_location' | translate}}" formControlName="location">
                <mat-option *ngFor="let location of selectedLocationList" [value]="location.id">
                  {{ location.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('location')?.invalid && this.addConfigurationForm.get('location')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('location')?.invalid && this.addConfigurationForm.get('location')?.touched) {
                <small class="text-danger"> *Location is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6" *ngIf="this.isNotVip">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.branch" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChangeBranch($event)"
                placeholder="{{'FORM.select_branch' | translate}}" formControlName="branch">
                <mat-option *ngFor="let location of selectedBranchList" [value]="location.id">
                  {{ location.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('branch')?.invalid && this.addConfigurationForm.get('branch')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('branch')?.invalid && this.addConfigurationForm.get('branch')?.touched) {
                <small class="text-danger"> *Branch is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.verifier" | translate}} <span class="text-danger">*</span></label>
             
                <!-- <mat-select formControlName="verifier" multiple class="select mat-cust-select custom-mat-select" >
                  @for (verifier of verifierList; track verifier) {
                    <mat-option [value]="verifier">{{verifier.firstName}} {{verifier.lastName}}</mat-option>
                  }
                </mat-select> -->
              
              
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onChangeVerifier($event)"
                placeholder="{{'FORM.select_verifier' | translate}}" formControlName="verifier">
                <mat-option *ngFor="let verifier of verifierList" [value]="verifier.id">
                  {{ verifier.firstName }} {{ verifier.lastName }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('verifier')?.invalid && this.addConfigurationForm.get('verifier')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('verifier')?.invalid && this.addConfigurationForm.get('verifier')?.touched) {
                <small class="text-danger"> *Verifier is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.approver_one" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select"  (selectionChange)="onChangeApproverOne($event)"
                placeholder="{{'FORM.select_approver' | translate}}" formControlName="approver_one">
                <mat-option *ngFor="let verifier of firstApproverList" [value]="verifier.id">
                  {{ verifier.firstName }} {{ verifier.lastName }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('approver_one')?.invalid && this.addConfigurationForm.get('approver_one')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('approver_one')?.invalid && this.addConfigurationForm.get('approver_one')?.touched) {
                <small class="text-danger"> *Approver is required</small>
                }
              </div>
              }
            </div>
          </div>
  
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.approver_two" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onChangeApproverTwo($event)"
                placeholder="{{'FORM.select_approver' | translate}}" formControlName="approver_two">
                <mat-option *ngFor="let verifier of secondApproverList" [value]="verifier.id">
                  {{ verifier.firstName }} {{ verifier.lastName }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('approver_two')?.invalid && this.addConfigurationForm.get('approver_two')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('approver_two')?.invalid && this.addConfigurationForm.get('approver_two')?.touched) {
                <small class="text-danger"> *Approver is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.approver_three" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onChangeApproverThree($event)"
                placeholder="{{'FORM.select_approver' | translate}}" formControlName="approver_three">
                <mat-option *ngFor="let verifier of thirdApproverList" [value]="verifier.id">
                  {{ verifier.firstName }} {{ verifier.lastName }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('approver_three')?.invalid && this.addConfigurationForm.get('approver_three')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('approver_three')?.invalid && this.addConfigurationForm.get('approver_three')?.touched) {
                <small class="text-danger"> *Approver is required</small>
                }
              </div>
              }
            </div>
          </div>
         

        </div>
        <div class="submit-section" *ngIf="!this.isView">
  
          <button class="btn btn-primary submit-btn" (click)="submitAddConfiguration()">{{this.isEdit ? ("FORM.update" | translate)
            : ('FORM.submit' | translate)}}</button>
        </div>
        <!-- <div class="submit-section gap-2" *ngIf="this.isView" style="display: flex; justify-content: space-evenly;">
          <button class="col-md-4 btn btn-primary submit-btn" (click)="closeModal()">Close</button>
          <button class="col-md-4 btn btn-primary submit-btn" (click)="disabledUser()">{{this.isDisabled ? 'Disabled' : 'Enabled'}}</button>
        </div> -->
      </form>
    </div>
  </div>