<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{this.isEdit ? ('FORM.edit_configuration' | translate) : ('FORM.add_configuration' | translate)}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addConfigurationForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.company" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select"
                placeholder="{{'FORM.select_company' | translate}}" formControlName="company"
                (selectionChange)="onCompanyChange($event)">
                <mat-option *ngFor="let company of companyList" [value]="company.id">
                  {{ company.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('brand')?.invalid && this.addConfigurationForm.get('brand')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('brand')?.invalid && this.addConfigurationForm.get('brand')?.touched) {
                <small class="text-danger"> *Brand is required</small>
                }
              </div>
              }
            </div>
  
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.location" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChangeLocation($event)"
                placeholder="{{'FORM.select_location' | translate}}" formControlName="location">
                <mat-option *ngFor="let location of selectedLocationList" [value]="location.id">
                  {{ location.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
                <small class="text-danger"> *Model is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.branch" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChangeBranch($event)"
                placeholder="{{'FORM.select_branch' | translate}}" formControlName="branch">
                <mat-option *ngFor="let location of selectedBranchList" [value]="location.id">
                  {{ location.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
                <small class="text-danger"> *Model is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.verifier" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChange($event)"
                placeholder="{{'FORM.select_verifier' | translate}}" formControlName="verifier">
                <mat-option *ngFor="let verifier of selectedFirstVerifierList" [value]="verifier.id">
                  {{ verifier.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
                <small class="text-danger"> *Model is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.approver_one" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChange($event)"
                placeholder="{{'FORM.select_approver' | translate}}" formControlName="verifier">
                <mat-option *ngFor="let verifier of selectedSecondVerifierList" [value]="verifier.id">
                  {{ verifier.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
                <small class="text-danger"> *Model is required</small>
                }
              </div>
              }
            </div>
          </div>
  
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.approver_two" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChange($event)"
                placeholder="{{'FORM.select_approver' | translate}}" formControlName="verifier">
                <mat-option *ngFor="let verifier of selectedApproverList" [value]="verifier.id">
                  {{ verifier.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
                <small class="text-danger"> *Model is required</small>
                }
              </div>
              }
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">{{"FORM.approver_three" | translate}} <span class="text-danger">*</span></label>
              <mat-select class="select mat-cust-select custom-mat-select" (selectionChange)="onModelChange($event)"
                placeholder="{{'FORM.select_approver' | translate}}" formControlName="verifier">
                <mat-option *ngFor="let verifier of selectedApproverList" [value]="verifier.id">
                  {{ verifier.name }}
                </mat-option>
              </mat-select>
              @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
              <div>
                @if (this.addConfigurationForm.get('model')?.invalid && this.addConfigurationForm.get('model')?.touched) {
                <small class="text-danger"> *Model is required</small>
                }
              </div>
              }
            </div>
          </div>
         

        </div>
        <div class="submit-section" *ngIf="!this.isView">
  
          <button class="btn btn-primary submit-btn" (click)="submitAddConfiguration()">{{this.isEdit ? ("FORM.update" | translate)
            : ('FORM.submit' | translate)}}</button>
        </div>
        <!-- <div class="submit-section gap-2" *ngIf="this.isView" style="display: flex; justify-content: space-evenly;">
          <button class="col-md-4 btn btn-primary submit-btn" (click)="closeModal()">Close</button>
          <button class="col-md-4 btn btn-primary submit-btn" (click)="disabledUser()">{{this.isDisabled ? 'Disabled' : 'Enabled'}}</button>
        </div> -->
      </form>
    </div>
  </div>