<!-- Header -->
<div class="header">

  <!-- Logo -->
  <div class="header-left">
    <a [routerLink]="routes.adminDashboard" class="logo">
      <img src="../../../../assets/images/nano-store-light-s.png" style="width: 90px; ">
    </a>
    <a [routerLink]="routes.adminDashboard" class="logo collapse-logo">

      <img src="../../../../assets/images/nano-store-light-s.png" style="width: 90px; ">
    </a>
    <a [routerLink]="routes.adminDashboard" class="logo2">
      <img src="../../../../assets/images/nano-store-light-s.png" width="40" height="40" alt="">
    </a>
  </div>


  <a (click)="toggleSideBar()" id="toggle_btn" href="javascript:void(0);">
    <span class="bar-icon" [hidden]="!baricon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>

  
  <div class="page-title-box">
    <h3>{{'FORM.nano_store' | translate}}</h3>
  </div>
 

  <a id="mobile_btn" (click)="togglesMobileSideBar()" (keydown.enter)="togglesMobileSideBar()" tabindex="0"
    class="mobile_btn"><i class="fa-solid fa-bars"></i></a>

  
  <ul class="nav user-menu">

    <li class="nav-item dropdown has-arrow flag-nav">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
        <img
          [src]="selectedLanguage === 'EN' ? '../../../../../assets/flags/us.png' : '../../../../../assets/flags/th.png'"
          alt="" height="20">
        <span>{{ selectedLanguage }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        
        <a *ngIf="selectedLanguage === 'EN'" href="javascript:void(0);" class="dropdown-item"
          (click)="changeLanguage('TH')">
          <img src="../../../../../assets/flags/th.png" alt="" height="16"> TH
        </a>
        <a *ngIf="selectedLanguage === 'TH'" href="javascript:void(0);" class="dropdown-item"
          (click)="changeLanguage('EN')">
          <img src="../../../../../assets/flags/us.png" alt="" height="16"> EN
        </a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <div class="theme-toggle">
        <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
          <i class="pe-7s-sun" style="font-size: 1.5rem;font-weight: 900;" data-bs-toggle="tooltip" title="pe-7s-sun"
            [ngClass]="isDarkMode ? 'pe-7s-sun' : 'pe-7s-moon'"
            [ngStyle]="{'color': isDarkMode ? 'dark' : 'white'}"></i>
        </a>


      </div>
    </li>
    <li class="nav-item dropdown">
      <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" (click)="resetNotificationCount()">
        <i class="fa-regular fa-bell me-1"></i> <span class="badge rounded-pill">{{notificationCount}}</span>
      </a>
      <!-- notifications.component.html -->
      <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
          <span class="notification-title">Notifications</span>
          <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
        </div>
        <div class="noti-content">
          <ul class="notification-list">
            <li *ngFor="let notification of notifications" class="notification-message">
              <!-- <a [routerLink]="['/activities']"> -->
                <div class="chat-block d-flex" (click)="openNotificationModal(notification)">
                  <span class="avatar flex-shrink-0">
                    <img alt="" src="../../../../../assets/images/person.jpg">
                  </span>
                  <div class="media-body flex-grow-1">
                    <p class="noti-details">
                      <!-- <span class="noti-title">{{ notification.requestByName }} has submitted  {{ notification.title }}.  Please review it. </span>
                      {{ notification.body }} -->
                       <span class="noti-title">{{ notification.title }}  {{ notification.message }}</span>  
                    </p>
                    <p class="noti-time">
                      <span class="notification-time">{{ formatDate(notification.data.createdDate) }}</span>
                    </p>
                  </div>
                </div>
              <!-- </a> -->
            </li>
          </ul>
        </div>
        <div class="topnav-dropdown-footer">
          <a [routerLink]="['/activities']">View all Notifications</a>
        </div>
      </div>

    
    </li>
    <!-- /Notifications -->

    

    <li class="nav-item dropdown has-arrow main-drop">
      <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
        <span class="user-img me-2"><img [src]="profile ? profile : '../../../../../assets/images/person.jpg'" alt="">
          <span class="status online"></span></span>
        <span>{{displayName ? displayName : 'Admin'}}</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item"  (click)="openProfileModal()">My Profile</a>
        <a class="dropdown-item" [routerLink]="routes.settings">Settings</a>
        <a class="dropdown-item" [routerLink]="routes.login">Logout</a>
      </div>
    </li>
  </ul>
 
  <ul class="nav user-menu1">

    <li class="nav-item dropdown has-arrow flag-nav">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
        <img
          [src]="selectedLanguage === 'EN' ? '../../../../../assets/flags/us.png' : '../../../../../assets/flags/th.png'"
          alt="" height="20">
        <span>{{ selectedLanguage }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- Show TH option if selected language is EN, and vice versa -->
        <a *ngIf="selectedLanguage === 'EN'" href="javascript:void(0);" class="dropdown-item"
          (click)="changeLanguage('TH')">
          <img src="../../../../../assets/flags/th.png" alt="" height="16"> TH
        </a>
        <a *ngIf="selectedLanguage === 'TH'" href="javascript:void(0);" class="dropdown-item"
          (click)="changeLanguage('EN')">
          <img src="../../../../../assets/flags/us.png" alt="" height="16"> EN
        </a>
      </div>
    </li>
  </ul>
  <!-- </div> -->

  <div class="dropdown mobile-user-menu">


    <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
        class="fa-solid fa-ellipsis-vertical"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" [routerLink]="routes.employeeProfile">My Profile</a>
      <a class="dropdown-item" [routerLink]="'/settings/company-settings'">Settings</a>
      <a [routerLink]="routes.login" class="dropdown-item">Logout</a>
    </div>

  </div>
  <!-- /Mobile Menu -->

</div>
<!-- /Header -->