<div class="account-page">
  <div class="main-wrapper">
    <div class="account-content">
      <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
          <a [routerLink] = "routes.adminDashboard"><img src="assets/img/logo2.png" alt="NANO STORE"></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">Register</h3>
            <p class="account-subtitle">Access to our dashboard</p>

            <!-- Account Form -->
            <form>
              <div class="input-block mb-4">
                <label class="col-form-label">Email<span class="mandatory">*</span></label>
                <input class="form-control" type="text">
              </div>
              <div class="input-block mb-4">
                <label class="col-form-label">Password<span class="mandatory">*</span></label>
                <input class="form-control" type="password">
              </div>
              <div class="input-block mb-4">
                <label class="col-form-label">Repeat Password<span class="mandatory">*</span></label>
                <input class="form-control" type="password">
              </div>
              <div class="input-block mb-4 text-center">
                <button class="btn btn-primary account-btn" type="button" (click)="navigate()">Register</button>
              </div>
              <div class="account-footer">
                <p>Already have an account? <a [routerLink] = "routes.login">Login</a></p>
              </div>
            </form>
            <!-- /Account Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
