.role-approver {
    background-color: #718355; /* Green */
    color: white;
  }
  .role-verifier {
    background-color: #C8A8E9; /* Blue */
    color: white;
  }
  .role-maker {
    background-color: #E8B298; /* Orange */
    color: black;
  }
  .role-employee {
    background-color: #118AB2; /* Gray */
    color: white;
  }
  .role-admin {
    background-color: #F78C6B; /* Red */
    color: white;
  }
  