<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{this.isEdit ? 'Edit Company' : 'Add Company'}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCompanyForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Company <span class="text-danger">*</span></label>
            <mat-select class="select mat-cust-select custom-mat-select" placeholder="Select Company" formControlName="company" >
              <mat-option value="nano-vip">NANO VIP</mat-option>
              <mat-option value="nano-store">NANO STORE</mat-option>
              <mat-option value="nano-entertainment">NANO ENTERTAINMENT</mat-option>
            </mat-select>
            @if (this.addCompanyForm.get('company')?.invalid && this.addCompanyForm.get('company')?.touched) {
            <div>
              @if (this.addCompanyForm.get('company')?.invalid && this.addCompanyForm.get('company')?.touched) {
              <small class="text-danger"> *Company is required</small>
              }
            </div>
            }
          </div>

        </div>
        <div class="col-sm-6">
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Location <span class="text-danger">*</span></label>
            <mat-select class="select mat-cust-select custom-mat-select" placeholder="Select Location" formControlName="location" >
              <mat-option value="phuket">Phuket</mat-option>
              <mat-option value="bangkok">Bangkok</mat-option>
            </mat-select>
            @if (this.addCompanyForm.get('location')?.invalid && this.addCompanyForm.get('location')?.touched) {
            <div>
              @if (this.addCompanyForm.get('location')?.invalid && this.addCompanyForm.get('location')?.touched) {
              <small class="text-danger"> *Location is required</small>
              }
            </div>
            }
          </div>
        </div>

        <div class="col-sm-6" >
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Branch Code<span class="text-danger">*</span></label>
           <input class="form-control" type="text" formControlName="branchCode"
              [class.invalid]="this.addCompanyForm.get('branchCode')?.invalid && this.addCompanyForm.get('branchCode')?.touched">
              @if (this.addCompanyForm.get('branchCode')?.invalid && this.addCompanyForm.get('branchCode')?.touched) {
                <div>
              @if (this.addCompanyForm.get('branchCode')?.invalid && this.addCompanyForm.get('branchCode')?.touched) {
              <small class="text-danger"> *Branch Code is required</small>
              }
            </div>
            }
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Branch Name<span class="text-danger">*</span></label>
           <input class="form-control" type="text" formControlName="branch"
              [class.invalid]="this.addCompanyForm.get('branch')?.invalid && this.addCompanyForm.get('branch')?.touched">
              @if (this.addCompanyForm.get('branch')?.invalid && this.addCompanyForm.get('branch')?.touched) {
                <div>
              @if (this.addCompanyForm.get('branch')?.invalid && this.addCompanyForm.get('branch')?.touched) {
              <small class="text-danger"> *Branch is required</small>
              }
            </div>
            }
          </div>
        </div>

        <div class="col-sm-12" >
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Address <span class="text-danger">*</span></label>
           <input class="form-control" type="text" formControlName="address">


          </div>
        </div>













      </div>


      <div class="submit-section" *ngIf="!this.isView">

        <button class="btn btn-primary submit-btn" (click)="submitAddCompany()">{{this.isEdit ? 'Update' : 'Submit'}}</button>
      </div>
      <!-- <div class="submit-section gap-2" *ngIf="this.isView" style="display: flex; justify-content: space-evenly;">
        <button class="col-md-4 btn btn-primary submit-btn" (click)="closeModal()">Close</button>
        <button class="col-md-4 btn btn-primary submit-btn" (click)="disabledUser()">{{this.isDisabled ? 'Disabled' : 'Enabled'}}</button>
      </div> -->
    </form>
  </div>
</div>
