<div class="main-wrapper">
  <div class="theme-toggle">
    <button class="btn btn-icon btn-outline-primary rounded-circle d-flex align-items-center justify-content-center" style="position: absolute; right: 20px; top: 20px;" (click)="toggleTheme()" [ngStyle]="{'background-color': isDarkMode ? 'white' : 'dark', 'color': isDarkMode ? 'white' : 'dark'}">
      <i class="pe-7s-sun" style="font-size: 1.5rem;font-weight: 900;" data-bs-toggle="tooltip" title="pe-7s-sun" [ngClass]="isDarkMode ? 'pe-7s-sun' : 'pe-7s-moon'" [ngStyle]="{'color': isDarkMode ? 'dark' : '#34383a'}"></i>

    </button>
    <!-- <button class="btn btn-icon btn-outline-primary rounded-circle d-flex align-items-center justify-content-center" style="position: absolute; right: 20px; top: 20px;" (click)="toggleTheme()">
      <i class="pe-7s-sun" style="font-size: 1.5rem;font-weight: 900;" data-bs-toggle="tooltip" title="pe-7s-sun" [ngClass]="isDarkMode ? 'pe-7s-sun' : 'pe-7s-moon'" [ngStyle]="{'color': isDarkMode ? 'dark' : '#34383a'}"></i>

    </button> -->

  </div>
  <div class="account-content">
    <div class="container">

      <!-- Account Logo -->

      <!-- /Account Logo -->

      <div class="account-box">
        <div class="account-wrapper">
          <div class="account-logo">
            <img [src]="isDarkMode ? '../../../../assets/images/nano-store-dark-s1.png' : '../../../../assets/images/nano-store-light-s.png'" alt="NANO STORE">
            <!-- <a [routerLink] = "routes.adminDashboard"><img src="assets/img/logo2.png" alt="NANO STORE"></a> -->
          </div>

          <h4 class="account-title" [ngStyle]="{'color': isDarkMode ? 'white' : '#444'}">Forgot Password?</h4>
          <p class="account-subtitle" [ngStyle]="{'color': isDarkMode ? 'white' : '#444'}">Enter your email to get a password reset link</p>

          <!-- Account Form -->
          <form>
            <div class="input-block mb-4 " style="margin-top: 40px;">
              <label class="col-form-label" [ngStyle]="{'color': isDarkMode ? 'white' : '#444'}">Email Address</label>
              <input class="form-control" type="text">
            </div>
            <div class="input-block mb-4 text-center" style="margin-top: 40px;">
              <button class="btn btn-primary account-btn" type="submit">Reset Password</button>
            </div>
            <div class="account-footer">
              <p>Remember your password? <a [routerLink] = "routes.login">Login</a></p>
            </div>
          </form>
          <!-- /Account Form -->

        </div>
      </div>
    </div>
  </div>
</div>
